@font-face {
    font-family: 'Dekiru';
    src: url(Dekiru.ttf) format('truetype');
}

body{
    background-color: darkcyan;
}

h1 {
    margin: 3%;
    color: blanchedalmond;
    font-family: Dekiru;
    font-size: 3vw;
    text-align: center;
}

h2 {
    margin: 3%;
    font-family: Dekiru;
    font-size: 1.6vw;
    color: blanchedalmond;
    text-align: center;
}

#container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#points {
    padding: 3.2vh;
    height: 8vh;
    font-family: Dekiru;
    background-color: blanchedalmond;
    color: darkcyan;
    font-size: 6vw;
    border-radius: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    text-align: center;
}


#increment{
    background-color: transparent;
    border: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#pint{
    height: 41vh;
    background: transparent;
}

.button:hover{
    cursor: pointer;
}


@media (max-width: 428px) {
    h1 {
        font-size: 3vw;
        margin: 1%;
    }
    h2 {
        font-size: 1.6vw;
        margin: 1%;
    }
    #points {
        font-size: 4vw;
        margin: 1%;
    }

}


@media (min-width: 429px) and (max-width: 600px) {
    h1 {
        font-size: 3vw;
        margin: 2%;
    }
    h2 {
        font-size: 1.6vw;
        margin: 2%;
    }
    #points {
        font-size: 6vw;
        margin: 2%;
    }

}


@media (min-width: 601px) {
    h1 {
        font-size: 3vw;
        margin: 3%;
    }
    h2 {
        font-size: 1.6vw;
        margin: 3%;
    }
    #points {
        font-size: 6vw;
        margin: 3%;
    }

}